<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js"
            integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01"
            crossorigin="anonymous"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해야 합니다.
        Kakao.init('4d084ff7d50e2e05a8c5b66e76d6f6e8');

        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>
    <meta name="appleid-signin-client-id" content="com.bakers.eggtartWeb">
    <meta name="appleid-signin-scope" content="name email">
    <meta name="appleid-signin-redirect-uri" content="https://api.eggtart.in/login/apple/">
    <meta name="appleid-signin-state" content="signin">
    <meta name="appleid-signin-use-popup" content="true"> <!-- or false defaults to false -->
</head>
<body>
<a id="kakao-login-btn" href="javascript:loginWithKakao()">
    <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
         alt="카카오 로그인 버튼"/>
</a>
<p id="token-result"></p>
<button class="api-btn" onclick="requestUserInfo()" style="visibility:hidden">사용자 정보 가져오기</button>
<div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div>
<script type="text/javascript"
        src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js">
</script>
<script type="text/javascript">
            AppleID.auth.init({
                clientId : 'com.bakers.eggtartWeb',
                scope : 'name email',
                redirectURI: 'https://api.eggtart.in/login/apple/',
                state : 'signin'
            });
</script>
<script>
    function loginWithKakao() {
        Kakao.Auth.authorize({
            redirectUri: 'http://localhost:8000/login-page',
        });
    }

    window.addEventListener('load', async () => {
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        if (!code) {
            console.error("code 없음")
            return
        }
        const body = new URLSearchParams();
        const item = {
            grant_type: 'authorization_code',
            client_id: '4d084ff7d50e2e05a8c5b66e76d6f6e8',
            redirect_uri: 'http://localhost:8000/login-page',
            // client_secret: 'nqoBLjSrQzyArAHdLGr2FhUIOmjZGcL1',
            code: code
        }
        for (let key in item) {
            console.log(key, item[key])
            body.append(key, item[key])
        }
        const options = {
            method: "POST",
            body: body,
            headers: {
                "Content-type": 'application/x-www-form-urlencoded;charset=utf-8'
            }
        }
        const res = await fetch('https://kauth.kakao.com/oauth/token', options)
        const resBody = await res.json()
        window.localStorage.setItem('accessToken', resBody.access_token)
        document.querySelector('.api-btn').style.visibility = 'visible'
    })

    const requestUserInfo = async () => {
        const accessToken = window.localStorage.getItem('accessToken')
        const res = await fetch(`http://localhost:8000/login/kakao?accessToken=${accessToken}`);
    }
</script>
</body>
</html>